<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        const isAdmin = "<%= JSON.stringify(isAdmin) %>";
        console.log("isAdmin in frontend:", isAdmin);

        window.isAdmin = "<%= JSON.stringify(isAdmin) %>";
        console.log("isAdmin window in frontend:", window.isAdmin);

        const username = "<%= JSON.stringify(username) %>";
        const id = "<%= JSON.stringify(id) %>";
        console.log("user logged in frontend index:", username);
    </script>
</head>
<body>
<% if(isAdmin){ %>
    <%- include('partials/header', { title: 'Welcome, admin!'}) %>
<% } else{ %>
    <%- include('partials/username-display', { title: 'Welcome ', id: id, username: username}) %>
<% } %>
<main>
    <section class="about">
        <h1>About Us</h1>
        <p>Welcome to our website! This is the final project of SW, subject of the UPV/EHU university.</p>

        <div class="team">
            <h2>Meet Our Team</h2>
            <ul>
                <li>
                    <h3>Paula Recaj</h3>
                </li>
                <li>
                    <h3>Amna Rumaisa</h3>
                </li>
                <li>
                    <h3>Irati Cruz</h3>
                </li>
                <li>
                    <h3>Matt Ruiz</h3>
                </li>
            </ul>
        </div>
    </section>
</main>

</body>
</html>
